{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        {% if name %}{{ name }} - {{ user.institution.name }} |{% endif %}
        EduVerse
      {% endblock title %}
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'core/styles/main.css' %}">
    {% tailwind_css %}
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body class="bg-gray-100">
    <div>
      <!-- Header -->
      <header class="flex items-center justify-between p-4 bg-blue-800 text-white">
        <div class="flex items-center">
          <button class="mr-4 text-white focus:outline-none" onclick="toggleSidebar()">
            <i class="fas fa-bars text-2xl"></i>
          </button>
          <a href=" {% if user.institution %} {% url "core-api:institution-profile-detail" user.institution.profile.pk %} {% else %}# {% endif %}"
             class="flex flex-row items-center">
            {{ user.institution.name }}
            <img src="{{ user.institution.profile.logo.url }}"
                 alt="Institution Logo"
                 class="h-12 mr-4" />
          </a>

          <form class="relative ml-40">
            <input type="text"
                   placeholder="Search"
                   class="pl-8 pr-4 py-2 rounded bg-gray-700 border border-gray-600 focus:outline-none focus:bg-gray-600" />
            <svg class="absolute top-1/2 left-2 transform -translate-y-1/2 text-gray-400 h-5 w-5"
                 fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20">
              <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l4.88 4.88-1.42 1.42-4.87-4.88zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
            </svg>
          </form>
        </div>
        <div class="flex items-center space-x-4">
          <div class="relative dropdown">
            <button class="flex items-center focus:outline-none">
              <img src="{{ user.profile.avatar.url }}"
                   alt="Admin"
                   class="h-10 w-10 rounded-full mr-2" />
            </button>
            <div class="dropdown-menu absolute right-0 mt-2 w-48 bg-white text-black rounded-md shadow-lg z-10 hidden">
              <a href="{% url "core-api:user-profile-detail" user.profile.pk %}"
                 class="block px-4 py-2 hover:bg-gray-200">Profile</a>
              {% if user.is_superuser or user == user.institution.owner %}
                <a href="#" class="block px-4 py-2 hover:bg-gray-200">Institution</a>
              {% endif %}
              <a href="#" class="block px-4 py-2 hover:bg-gray-200">Account Settings</a>
              <div class="border-t border-gray-200"></div>
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
              </form>
              <a href="#"
                 class="block px-4 py-2 hover:bg-gray-200"
                 onclick="document.getElementById('logout-form').submit();">Log Out</a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="flex">
      {% block sidebar %}
        <!-- Sidebar content will be injected here -->
      {% endblock sidebar %}
      <!-- Main Content -->
      <main class="mx-8 mt-8">
        {% if messages %}
          <div class="container mx-auto">
            {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
          </div>
        {% endif %}
        {% block content %}
        {% endblock content %}
      </main>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.js"></script>
      <script>
        function toggleSidebar() {
          document.getElementById("sidebar").classList.toggle("collapsed");
        }

        function toggleSubmenu(event, submenuId) {
          event.preventDefault();
          document.getElementById(submenuId).classList.toggle("submenu-open");
        }

        // Chart Data
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
            datasets: [{
              label: "Expenses",
              data: [1000, 2000, 3000, 4000, 5000, 6000],
              backgroundColor: "rgba(255, 99, 132, 0.2)",
              borderColor: "rgba(255, 99, 132, 1)",
              borderWidth: 1,
            }, {
              label: "Income",
              data: [2000, 3000, 4000, 5000, 6000, 7000],
              backgroundColor: "rgba(54, 162, 235, 0.2)",
              borderColor: "rgba(54, 162, 235, 1)",
              borderWidth: 1,
            }, ],
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                },
              }, ],
            },
          },
        });

        // FullCalendar
        document.addEventListener("DOMContentLoaded", function() {
          var calendarEl = document.getElementById("calendar");
          var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: "dayGridMonth",
            headerToolbar: {
              left: "prev,next today",
              center: "title",
              right: "dayGridMonth,timeGridWeek,timeGridDay",
            },
            events: [
              // Add your events here
              {
                title: "Event 1",
                start: "2024-06-01",
                end: "2024-06-02",
              }, {
                title: "Event 2",
                start: "2024-06-05",
                end: "2024-06-07",
              },
            ],
          });
          calendar.render();
        });
      </script>
    </div>

  </body>
</html>
