{% extends "core/dashboard_base.html" %}

{% block sidebar %}
  <nav>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400">Dashboard</a>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400">Classes</a>
    <div id="classes-links" class="hidden pl-4">
      <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400">All Classes</a>
      <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400">New Class</a>
    </div>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400">Subjects</a>
    <div id="subjects-links" class="hidden pl-4">
      <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400">Classes with Subjects</a>
      <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400">Assign Subjects</a>
    </div>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400">Teachers</a>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400" id="student-link">Students</a>
    <div id="student-links" class="hidden pl-4">
      <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400">All Students</a>
      <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400">Add New</a>
    </div>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400">Attendance</a>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-yellow-400">Timetable</a>
  </nav>
{% endblock sidebar %}

{% block content %}
  <h1 class="text-2xl font-semibold text-gray-700">Admin Dashboard Content</h1>
  <div class="w-full bg-green-600 shadow-md rounded-lg overflow-hidden h-4 "></div>
  <!-- Admin specific content goes here -->
{% endblock content %}
