{% autoescape off %}
  Hello {{ user.username }}!

  Someone asked to reset your password! If this was you, click the link below:
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

  If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead. If you didn't ask to reset your password, you can ignore this email and your password will not be changed.

  Sincerely,
  EduVerse Solutions
  Navigating Infinite Educational Possibilities…
{% endautoescape %}
