{% extends 'core/base.html' %}

{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-cover" style="background-image: url('{% static 'core/images/forgot_password_bg.jpg' %}');">
  <div class="w-full max-w-md">
    <div class="bg-white shadow-lg rounded-lg mt-0 mb-3">
      <div class="p-6">
        <h3 class="text-center text-2xl font-light mb-4 text-blue-900">Forgot Password?</h3>
        <p class="text-red-700 text-center mb-4">Enter the email address associated with your account and we will send you a link to reset your password</p>
        <div id="error_div"></div>
        {% if form.errors %}
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
            <strong class="font-bold">Error:</strong>
            <span class="block sm:inline">
              <div id="form_errors">
                {% for key, value in form.errors.items %}
                  <strong>{{ value }}</strong>
                {% endfor %}
              </div>
            </span>
            <button type="button" class="absolute top-0 bottom-0 right-0 px-4 py-3" data-dismiss="alert" aria-label="Close">
              <span class="text-2xl">&times;</span>
            </button>
          </div>
        {% endif %}
        <form method="POST">
          {% csrf_token %}
          <div class="mb-4">
            <label class="block text-sm font-medium mb-2 text-blue-900" for="id_email">Email</label>
            <input type="email"
                   name="email"
                   class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                   autocomplete="email"
                   maxlength="254"
                   required
                   id="id_email"
                   placeholder="Enter email">
          </div>
          <div>
            <button type="submit" class="w-full bg-blue-700 text-white py-2 rounded-md hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit</button>
          </div>
        </form>
      </div>
      <div class="p-6 text-center">
        <a href="{% url 'core:register' %}" class="text-indigo-600 hover:text-indigo-900">Create A New Account</a>
        <br>
        <br>
        <a href="{% url 'login' %}" class="text-indigo-600 hover:text-indigo-900">Back To Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
