{% extends "core/base.html" %}

{% block title %}
  Password Reset
{% endblock title %}

{% block content %}
  <div class="form-content my-1 p-20 bg-gray-100">
    <div class="container mx-auto px-4">
      <div class="flex justify-center">
        <div class="w-full max-w-md">
          {% if validlink %}
            <div class="shadow-lg rounded-lg mt-20 mb-3 bg-white">
              <div class="bg-blue-900 py-4 px-6 rounded-t-lg">
                <h3 class="text-center text-white">Reset Your Password</h3>
              </div>
              {% if form.errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                  <div id="form_errors">
                    {% for key, value in form.errors.items %}
                      <strong>{{ value }}</strong>
                    {% endfor %}
                  </div>
                  <button type="button" class="absolute top-0 right-0 px-4 py-3" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
              <div class="px-6 py-4">
                <form method="POST">
                  {% csrf_token %}
                  <div class="mb-4">
                    <label class="block text-sm font-medium mb-2 text-blue-900" for="id_new_password1">New Password</label>
                    <input type="password"
                           name="new_password1"
                           autocomplete="new-password"
                           class="form-input mt-1 block w-full"
                           required
                           id="id_new_password1"
                           placeholder="Enter password" />
                  </div>
                  <div class="mb-4">
                    <label class="block text-sm font-medium mb-2 text-blue-900" for="id_new_password2">New Password Confirmation</label>
                    <input type="password"
                           name="new_password2"
                           autocomplete="new-password"
                           required
                           id="id_new_password2"
                           class="form-input mt-1 block w-full"
                           placeholder="Confirm password" />
                  </div>
                  <div flex justify-center>
                    <button type="submit" class=" bg-blue-900 text-white py-2 px-4 rounded-md hover:bglue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" id="reset">Reset Password</button>
                  </div>
                </form>
              </div>
            </div>
          {% else %}
            <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative mt-20" role="alert">
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
