.white-bg-color {
  background-color: #f0f5f5;
}

a,
a:hover {
  text-decoration: none !important;
}

a#forgot-password:hover {
  color: #850b0b !important;
}

.avatar-container {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

.alert-error {
  color: #721c24;
  background-color: #e3ced0;
  border-color: #f5c6cb;
  padding: 0.8rem;
  border-radius: 0.9rem;
  margin: 0.5rem;
}

.alert-error hr {
  border-top-color: #f1b0b7;
}

.alert-error .alert-link {
  color: #491217;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 0.8rem;
  border-radius: 0.9rem;
  margin: 0.5rem;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0d5429;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  padding: 0.8rem;
  border-radius: 0.9rem;
  margin: 0.5rem;
}

.alert-info hr {
  border-top-color: #abdde5;
}

.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  padding: 0.8rem;
  border-radius: 0.9rem;
  margin: 0.5rem;
}

.alert-warning hr {
  border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert {
  padding: 0.8rem;
  border-radius: 0.9rem;
  margin: 0.5rem;
}

.alert hr {
  border-top-color: #d6d8db;
}

.alert .alert-link {
  color: #0c5460;
}
/* animation for hero section */

@keyframes fade {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade {
  animation: fade 12s infinite;
}
.fade:nth-child(1) {
  animation-delay: 16ss;
}
.fade:nth-child(2) {
  animation-delay: 12s;
}
.fade:nth-child(3) {
  animation-delay: 8s;
}

.card-enter {
  transform: translateY(20px);
  opacity: 0;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}
.card-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.card-hover:hover {
  @apply bg-green-600 text-white scale-x-105;
}
.card-hover {
  @apply transition-all duration-300 ease-in-out;
}

.form-control {
  border: 1px solid #ced4da !important;
  border-radius: 1rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.mt-7 {
  margin-top: 7rem !important;
}